@model IEnumerable<Silabus.Services.VisualizarSilabo>

@{
    ViewBag.Title = "HABILITAR SÍLABUS";
    Layout = "~/Views/Shared/_LayoutSilabo.cshtml";

}

<h2 style="text-align:center">FACULTAD DEL JEFE DE DEPARTAMENTO</h2>
<h2 style="text-align:center">HABILITAR SÍLABUS</h2>

@Html.Partial("_Filtros")

<table class="table">
    <tr>
        <th> DOCENTES  </th>
        <th> CURSO    </th>
        <th> ESTADO   </th>
        <th> ACCIONES   </th>
    </tr>
    @if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {

    <tr>
        <td>@item.nombreDocente     </td>
        <td>@item.nombreCurso       </td>
        @*<td>@Html.DropDownList("ListarEstado", (List<SelectListItem>)ViewBag.ListarEstado, new { @disabled = "disabled", @id = item.codigoEstado }) </td>*@
        <td>@Html.DropDownList("ListarEstado", item.ListaEstado, new { disabled = "disabled", id = "ListarEstado" }) </td>
        <td>
            <input type="button" class="btn btn-default" id="Editar" value="Editar" onclick="editar()">
            <input type="button" class="btn btn-default" id="Guardar" value="Guardar" onclick="guardar(item)" style="display:none" />
            <input type="button" class="btn btn-default" id="Cancelar" value="Cancelar" onclick="cancelar()" style="display:none">
        </td>
        
    </tr>
        }
    }


</table>

<script type="text/javascript">
    function editar() {
        document.getElementById('Guardar').style.display = 'inline';
        document.getElementById('Cancelar').style.display = 'inline';
        document.getElementById('Editar').style.display = 'none';
        document.getElementById('ListarEstado').disabled = false;
    }

    function cancelar() {
        //alert(fila);
        document.getElementById('Guardar').style.display = 'none';
        document.getElementById('Cancelar').style.display = 'none';
        document.getElementById('Editar').style.display = 'block';
        document.getElementById('ListarEstado').disabled = true;

    }
    function guardar(item) {
        alert();
        document.getElementById('Guardar').style.display = 'none';
        document.getElementById('Cancelar').style.display = 'none';
        document.getElementById('Editar').style.display = 'block';


    }
</script>