@model IEnumerable<Silabus.Services.VisualizarSilabo>

@{
    ViewBag.Title = "HABILITAR SÍLABUS";
    Layout = "~/Views/Shared/_LayoutSilabo.cshtml";
}
<h2 style="text-align:center">FACULTAD DEL JEFE DE DEPARTAMENTO</h2>
<h2 style="text-align:center">HABILITAR SÍLABUS</h2>

@Html.Partial("_Filtros")
@{ int DlEstado = 0;
    int BtEditar = 0;
    int BtGuardar = 0;
    int BtCancelar = 0;
    const string DlEstadoDesc = "DlEst";
    const string BtEditarDesc = "BtEdt";
    const string BtGuardarDesc = "BtGdr";
    const string BtCancelarDesc = "BtCnl";
    string IdDlEst = "";
    string IdBtGdr = "";
    string IdBtEdt = "";
    string IdBtCnl = "";
    }

<table class="table">
    <tr>
        <th> DOCENTES  </th>
        <th> CURSO    </th>
        <th> ESTADO   </th>
        <th> ACCIONES   </th>
    </tr>
    @if (Model.Count() != 0)
    {
        foreach (var item in Model)
        {
            DlEstado += 1;
            BtEditar += 1;
            BtGuardar += 1;
            BtCancelar += 1;
            IdDlEst = DlEstadoDesc + DlEstado.ToString();
            IdBtGdr = BtGuardarDesc + BtGuardar.ToString();
            IdBtEdt = BtEditarDesc + BtEditar.ToString();
            IdBtCnl = BtCancelarDesc + BtCancelar.ToString();
            <tr>
                <td>@item.nombreDocente     </td>
                <td>@item.nombreCurso       </td>
                <td>@Html.DropDownList("ListarEstado", item.ListaEstado, new { disabled = "disabled", id = IdDlEst })
                <td>
                    <input type="button" class="btn btn-default" id=@IdBtEdt value="Editar" onclick="editar('@IdBtEdt','@IdBtGdr','@IdBtCnl','@IdDlEst')">
                    <input type="button" class="btn btn-success" id=@IdBtGdr value="Guardar" onclick="guardar(@item.idSilabo,'@IdBtEdt','@IdBtGdr','@IdBtCnl','@IdDlEst')" style="display:none" />
                    <input type="button" class="btn btn-default" id=@IdBtCnl value="Cancelar" onclick="cancelar('@IdBtEdt','@IdBtGdr','@IdBtCnl','@IdDlEst')" style="display:none">
                </td>
            </tr>
        }
    }
</table>

<script type="text/javascript">
    function editar(idEditar, idGuardar, idCancelar, idListarEstado) {
        //debugger;
        var codigoEstado = parseInt(document.getElementById(idListarEstado).value);
        if (codigoEstado != @Silabus.utils.Constantes.ESTADOSILABOCERRADO) {
            document.getElementById(idGuardar).style.display = 'inline';
            document.getElementById(idCancelar).style.display = 'inline';
            document.getElementById(idEditar).style.display = 'none';
            document.getElementById(idListarEstado).disabled = false;
        } else {
            alert("el Silabo se encuentra cerrado");
        }       
}
    function cancelar(idEditar, idGuardar, idCancelar, idListarEstado) {
        //debugger;
        document.getElementById(idGuardar).style.display = 'none';
        document.getElementById(idCancelar).style.display = 'none';
        document.getElementById(idEditar).style.display = 'block';
        document.getElementById(idListarEstado).disabled = true;
}
    function guardar(idSilabo, idEditar, idGuardar, idCancelar, idListarEstado) {
    var codigoEstado = parseInt(document.getElementById(idListarEstado).value);
    var link = '@Url.Action("ActualizarEstado", "HabilitarSilabo")';
    debugger;
    $.ajax({
        url: '/HabilitarSilabo/ActualizarEstado/',
        type: 'POST',
        //contentType: "application/json; charset=utf-8",
        dataType: "JSON",
        data: {
            idSilabo: idSilabo,
            codigoEstado: codigoEstado
        }, // An object with the key 'submit' and value 'true;
        success: function (result) {
            //if (result.status == "Success") {
            //    alert("Done");
            //} else {
                alert(result.responseText);
            //}
        },
        error: function (Error) {
            console.log(Error);
            alert("Ha ocurrido un error!!!");
        }
    });
    document.getElementById(idGuardar).style.display = 'none';
    document.getElementById(idCancelar).style.display = 'none';
    document.getElementById(idEditar).style.display = 'block';
    document.getElementById(idListarEstado).disabled = true;
}

</script>