
@{
    ViewBag.Title = "InformacionAcademica";
    Layout = "~/Views/Shared/_LayoutSilabo.cshtml";
}

<table class="tablaBorderRow">
    <tbody>
        <tr>
            <td style="height:100px;width:30%">
                <img class="escudo" src="~/Img/ESCUDO.png" />
            </td>
            <td>
                <span class="universidad">UNIVERSIDAD CATÓLICA DE SANTA MARIA <br /> AREQUIPA-PERÚ</span>
            </td>
        </tr>
    </tbody>
</table>

<table class="tablaBorderContorno">
    <tbody>
        <tr>
            <td><span class="titulo">FACULTAD:</span></td>
            <td><span class="respuesta">@ViewBag.IdentificacionAcademica.Facultad</span></td>
        </tr>
        <tr>
            <td><span class="titulo">ESCUELA:</span></td>
            <td><span class="respuesta">@ViewBag.IdentificacionAcademica.Escuela</span></td>
        </tr>
    </tbody>
</table>

<table class="tablaBorderTd">
    <tbody>
        <tr>
            <td colspan="9" class="tituloRow">PLAN DE ESTUDIOS </td>
        </tr>
        <tr>
            <td colspan="9" class="tituloRow">SÍLABO DE ASIGNATURA </td>
        </tr>
        <tr>
            <td colspan="9" class="divicion">1. IDENTIFICACIÓN ACADÉMICA </td>
        </tr>
        <tr>
            <td colspan="8" class="sinRowSpan">Nombre de la Asignatura: </td>
            <td rowspan="3" class="rowSpan"> El desarrollo de las actividades académicas se distribuye en tres fases de seis semanas cada una.</td>
        </tr>
        <tr>
            <td colspan="8" class="sinRowSpan">Código de la Asignatura:</td>
        </tr>
        <tr>
            <td colspan="8" class="sinRowSpanF">Semestre Académico en que se desarrolla</td>
        </tr>
        <tr>
            <td colspan="8" class="divicionDos">1.2.-Peso Académico de la Asignatura.</td>
            <td rowspan="5" class="rowSpan">
                Cada semestre académico comprende dieciocho  semanas.
                (Resolución Nº 3535-CU07)
            </td>
        </tr>
        <tr class="tablaCreditos">
            <td rowspan="3">CRÉDITOS</td>
            <td colspan="4">HORAS SEMANALES</td>
            <td colspan="3">HORAS SEMESTRALES</td>
        </tr>
        <tr class="tablaCreditos">
            <td rowspan="2">Horas Teóricas</td>
            <td colspan="2">Horas Prácticas</td>
            <td rowspan="2">Horas Virtuales</td>
            <td rowspan="2">Horas Teóricas</td>
            <td rowspan="2">Horas Prácticas</td>
            <td rowspan="2">Horas Virtuales</td>
        </tr>
        <tr class="tablaCreditos">
            <td>Práctica de Aula </td>
            <td>Jefe de Prácticas</td>
        </tr>
        <tr class="tablaCreditosRespuesta">
            <td>@ViewBag.IdentificacionAcademica.Credito</td>
            <td>@ViewBag.IdentificacionAcademica.HorasSemanalesTeorica</td>
            <td>@ViewBag.IdentificacionAcademica.HorasSemanalesPracticaAula</td>
            <td>@ViewBag.IdentificacionAcademica.HorasSemanalesPracticaJefe</td>
            <td>@ViewBag.IdentificacionAcademica.HorasSemanalesPracticaVirtual</td>
            <td>@ViewBag.IdentificacionAcademica.HorasSemestralesTeorica</td>
            <td>@ViewBag.IdentificacionAcademica.HorasSemestralesPractica</td>
            <td>@ViewBag.IdentificacionAcademica.HorasSemestralesVirtuales</td>
        </tr>
    </tbody>
</table>


