@model IEnumerable<Silabus.Services.VisualizarSilabo>

@{
    ViewBag.Title = "VISUALIZAR SÍLABO";
    Layout = "~/Views/Shared/_LayoutSilabo.cshtml";
}

<h2 style="text-align:center">FACULTAD DEL JEFE DE DEPARTAMENTO</h2>
<h2 style="text-align:center">VISUALIZAR SÍLABO</h2>

@Html.Partial("_Filtros")

<table class="table">
    <tr>
        <th> ESCUELA     </th>
        <th> Docentes     </th>
        <th> CURSO       </th>
        <th> SEMESTRE    </th>
        <th> ESTADO      </th>
        <th> IR          </th>
        <th> SEGUIMIENTO </th>
    </tr>
    @if(Model.Count() != 0){ 
        foreach (var item in Model)
        {

    <tr>
        <td>@item.escuelaProfesional</td>
        <td>@item.nombreDocente     </td>
        <td>@item.nombreCurso       </td>
        <td>@item.anioSemestre      </td>
        <td>@item.estado            </td>
        <td>@Html.ActionLink("SILABO", "Ir", new { /* id=item.PrimaryKey */ }) |            </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
        } 
    }


</table>
