@model List<Silabus.Models.SilaboDivicion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSilabo.cshtml";
}

@*@using (Html.BeginForm("EditOk", "SilaboDivicion", FormMethod.Post)) {*@
@*@using (Html.BeginForm("EditOk", "SilaboDivicion", FormMethod.Post))
{*@
    @for (int i = 0; i < Model.Count; i++)
    {
        @Html.Hidden("SilaboDivicion.Index", @i)
        <button class="accordion">@Html.DisplayFor(modelItem => Model[i].Divicion.Titulo)</button>
        if (Model[i].Divicion.Estado >= 1)
        {
            @Html.HiddenFor(m => Model[i].Divicion.Vista);
            <div class="container-fluid">
                <div class="row">
                    @if (Model[i].Divicion.Estado == 1)
                    {
                        <button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("Edit",
                            new { id = Model[i].IdDivicion })'">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                    }
                    else
                    {
                        <div>
                            @*<button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("EditOk", Model[i])'">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>*@
                            @*<button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("EditOk", new { silaboDivicion = Model[i] })'">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>*@
                            <button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("EditOk",
                                    new { Id = Model[i].Id, idSilabo = Model[i].Silabo.Id , sumilla = Model[i].Silabo.Sumilla.ToString()})'">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            <button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("EditCancel",new { id = Model[i].IdDivicion })'">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial(Model[i].Divicion.Vista, Model[i])
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="panel">
                @Html.Partial(Model[i].Divicion.Vista, Model[i])
            </div>
        }
    }

@* } *@
