@model List<Silabus.Models.SilaboDivisiones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSilabo.cshtml";
}

<<<<<<< HEAD
@*@using (Html.BeginForm("EditOk", "SilaboDivisiones", FormMethod.Post)) {*@
@*@using (Html.BeginForm("EditOk", "SilaboDivisiones", FormMethod.Post))
{*@
    @for (int i = 0; i < Model.Count; i++)
    {
        @Html.Hidden("SilaboDivisiones.Index", @i)
        <button class="accordion">@Html.DisplayFor(modelItem => Model[i].Divisiones.Titulo)</button>
        if (Model[i].Divisiones.Estado >= 1)
        {
            @Html.HiddenFor(m => Model[i].Divisiones.Vista);
            <div class="container-fluid">
                <div class="row">
                    @if (Model[i].Divisiones.Estado == 1)
                    {
                        <button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("Edit",
                            new { id = Model[i].IdDivision })'">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                    }
                    else
                    {
                        <div>
                            @*<button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("EditOk", Model[i])'">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>*@
                            @*<button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("EditOk", new { silaboDivision = Model[i] })'">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>*@
                            <button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("EditOk",
                                    new { Id = Model[i].Id, idSilabo = Model[i].Silabos.Id , sumilla = Model[i].Silabos.Sumilla.ToString()})'">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            <button class="col-md-offset-11 btn btn-default btn-sm" type="button" onclick="location.href='@Url.Action("EditCancel",new { id = Model[i].IdDivision })'">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @Html.Partial(Model[i].Divisiones.Vista, Model[i])
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="panel">
                @Html.Partial(Model[i].Divisiones.Vista, Model[i])
            </div>
        }
    }

@* } *@
=======
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Docentes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Docentes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
>>>>>>> master
